{% extends 'main.html' %}
{% load static %}

{% block pageTitle %} About | Gateway WRC {% endblock pageTitle%}

{% block content %}
<div class="w-7/12 mx-auto">
    <div class="bg-white mt-3 rounded-lg p-5">
        <h1 class="font-bold text-4xl">Gateway WRC</h1>
        <p class="text-xl">Event Information System</p>
    </div>
    <div class="bg-white mt-3 rounded-lg py-10">
        <h2 class="text-center text-3xl lg:text-5xl my-3">Meet the <span class="font-semibold">team.</span></h2>
        <div class="grid grid-cols-2">


            <div class="col-span-2 lg:col-span-1 rounded-lg bg-whole shadow-2xl hover:shadow-gray-600 w-2/3 mx-auto my-5">
                <div class="p-5">
                    <img src="{% static 'webapp/images/sandeshpaudel.jpg' %}" class="w-9/12 mx-auto rounded-full border-4 border-logoblue" alt="Sandesh Prasad Paudel"/>
                </div>
                <h3 class="text-xl lg:text-2xl uppercase font-medium text-center">Sandesh Prasad</h3>
                <h3 class="text-xl lg:text-2xl mb-2 uppercase font-medium text-center">Paudel</h3>
                <!-- <p class="text-md lg:text-lg mb-2" data-aos="fade-up"></p> -->
                <div class="flex justify-center py-3 lg:py-5">
                    <a href="telto:+9779860702575"><i class="fas fa-phone-alt text-md lg:text-xl bg-logoblue hover:bg-logoblue1 px-3 py-2 rounded-full text-white mr-5"></i></a>
                    <a href="mailto:sandeshpaudel81@gmail.com"><i class="fas fa-envelope text-md lg:text-xl bg-logoblue hover:bg-logoblue1 px-3 py-2 rounded-full text-white mr-5"></i></a>
                    <a href="https://www.facebook.com/sandesh.sandeep.3/" target="_blank"><i class="fab fa-facebook-f text-md lg:text-xl bg-logoblue hover:bg-logoblue1 px-4 py-2 rounded-full text-white mr-5"></i></a>
                </div>
            </div>


            <div class="col-span-2 lg:col-span-1 rounded-lg bg-whole shadow-2xl hover:shadow-gray-600 w-2/3 mx-auto my-5">
                <div class="p-5">
                    <img src="{% static 'webapp/images/sujansigdel.jpg' %}" class="w-9/12 mx-auto rounded-full border-4 border-logoblue" alt="Sandesh Prasad Paudel"/>
                </div>
                <h3 class="text-xl lg:text-2xl uppercase font-medium text-center">Sujan</h3>
                <h3 class="text-xl lg:text-2xl mb-2 uppercase font-medium text-center">Sigdel</h3>
                <!-- <p class="text-md lg:text-lg mb-2" data-aos="fade-up"></p> -->
                <div class="flex justify-center py-3 lg:py-5">
                    <a href="telto:+9779847319906"><i class="fas fa-phone-alt text-md lg:text-xl bg-logoblue hover:bg-logoblue1 px-3 py-2 rounded-full text-white mr-5"></i></a>
                    <a href="#"><i class="fas fa-envelope text-md lg:text-xl bg-logoblue hover:bg-logoblue1 px-3 py-2 rounded-full text-white mr-5"></i></a>
                    <a href="https://www.facebook.com/sujansigdel47" target="_blank"><i class="fab fa-facebook-f text-md lg:text-xl bg-logoblue hover:bg-logoblue1 px-4 py-2 rounded-full text-white mr-5"></i></a>
                </div>
            </div>


            <div class="col-span-2 lg:col-span-1 rounded-lg bg-whole shadow-2xl hover:shadow-gray-600 w-2/3 mx-auto my-5">
                <div class="p-5">
                    <img src="{% static 'webapp/images/sandeep.jpg' %}" class="w-9/12 mx-auto rounded-full border-4 border-logoblue" alt="Sandesh Prasad Paudel"/>
                </div>
                <h3 class="text-xl lg:text-2xl uppercase font-medium text-center">Sandeep</h3>
                <h3 class="text-xl lg:text-2xl mb-2 uppercase font-medium text-center">Baral</h3>
                <!-- <p class="text-md lg:text-lg mb-2" data-aos="fade-up"></p> -->
                <div class="flex justify-center py-3 lg:py-5">
                    <a href="telto:+9779824132572"><i class="fas fa-phone-alt text-md lg:text-xl bg-logoblue hover:bg-logoblue1 px-3 py-2 rounded-full text-white mr-5"></i></a>
                    <a href="#"><i class="fas fa-envelope text-md lg:text-xl bg-logoblue hover:bg-logoblue1 px-3 py-2 rounded-full text-white mr-5"></i></a>
                    <a href="https://www.facebook.com/saun.diep" target="_blank"><i class="fab fa-facebook-f text-md lg:text-xl bg-logoblue hover:bg-logoblue1 px-4 py-2 rounded-full text-white mr-5"></i></a>
                </div>
            </div>


            <div class="col-span-2 lg:col-span-1 rounded-lg bg-whole shadow-2xl hover:shadow-gray-600 w-2/3 mx-auto my-5">
                <div class="p-5">
                    <img src="{% static 'webapp/images/apurba.jpg' %}" class="w-9/12 mx-auto rounded-full border-4 border-logoblue" alt="Sandesh Prasad Paudel"/>
                </div>
                <h3 class="text-xl lg:text-2xl uppercase font-medium text-center">Apurba</h3>
                <h3 class="text-xl lg:text-2xl mb-2 uppercase font-medium text-center">Paudel</h3>
                <!-- <p class="text-md lg:text-lg mb-2" data-aos="fade-up"></p> -->
                <div class="flex justify-center py-3 lg:py-5">
                    <a href="telto:+9779804140500"><i class="fas fa-phone-alt text-md lg:text-xl bg-logoblue hover:bg-logoblue1 px-3 py-2 rounded-full text-white mr-5"></i></a>
                    <a href="#"><i class="fas fa-envelope text-md lg:text-xl bg-logoblue hover:bg-logoblue1 px-3 py-2 rounded-full text-white mr-5"></i></a>
                    <a href="https://www.facebook.com/apurba.paudel.9" target="_blank"><i class="fab fa-facebook-f text-md lg:text-xl bg-logoblue hover:bg-logoblue1 px-4 py-2 rounded-full text-white mr-5"></i></a>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock content %}