{% extends 'main.html' %}
{% load static %}

{% block pageTitle %} Change Password | Gateway WRC {% endblock pageTitle%}

{% block content %}
<div class="w-7/12 mx-auto">
    <div class="bg-white mt-3 rounded-lg p-5">
        <div class="flex py-3">
            <img src="{{profile.logo.url}}" alt="{{profile.fullName}}" class="w-40 ml-5 rounded-full">
            <div class="ml-20">
                <h1 class="font-bold text-4xl">{{profile.fullName}}</h1>
                <p class="font-semibold text-xl">@{{user.username}}</p>
                <p class="text-lg mt-2">{{profile.bio}}</p>
                <a href="{{profile.linkInBio}}" target="_blank" class="text-logoblue hover:underline">{{profile.linkInBio}}</a>
            </div>
        </div>
    </div>
    <div class="bg-white mt-3 p-10">
        <h1 class="text-6xl font-bold">Change Password</h1>
        <form method="post" action="/change_password/" class="mt-10 mb-20 w-1/2">
            {% csrf_token %}
            <div class="relative text-black focus-within:text-gray-600 mb-10">
                <label>Current Password</label>
                <input type="password" name="currentPassword" id="currentPassword" class="w-full bg-transparent rounded-md border-gray-600 text-black placeholder:text-gray-600" placeholder="Enter current password">
            </div>
            <div class="relative text-black focus-within:text-gray-600 mb-10">
                <label>New Password</label>
                <input type="password" name="newPassword" id="newPassword" class="w-full bg-transparent rounded-md border-gray-600 text-black placeholder:text-gray-600" placeholder="Enter new password">
            </div>
            <div class="relative text-black focus-within:text-gray-600">
                <label>Confirm New Password</label>
                <input type="password" name="confirmNewPassword" id="confirmNewPassword" class="w-full bg-transparent rounded-md border-gray-600 text-black placeholder:text-gray-600" placeholder="Re Enter new password" onkeyup="matchPassword()">
            </div>
            <p id="passwordMatchingMessage" class="mb-10"></p>
            <div class="relative flex text-white mb-5">
                <input type="submit" class="bg-logoblue hover:bg-logoblue1 rounded-md outline-gray-200 cursor-pointer px-10 py-3" value="Change Password">
            </div>
        </form>
    </div>
</div>
<script>
    function matchPassword(){
        var newPassword = document.getElementById('newPassword').value;
        var confirmNewPassword = document.getElementById('confirmNewPassword').value;
        var message = document.getElementById('passwordMatchingMessage');
        if (newPassword !== confirmNewPassword){
            message.classList.remove('text-successGreen');
            message.classList.add('text-errorRed');
            message.innerHTML = "Passwords do not match!";
        } else {
            message.classList.remove('text-errorRed');
            message.classList.add('text-successGreen');
            message.innerHTML = "Passwords match!";
        }
    }
</script>
{% endblock content %}